
<div class="container">
       
    <div class="tabContainer">
        <div class="head">
            <h1>{{pageTitle}}</h1> 
         </div>

        <div class="body">
            <div class="labelInput">
                <label>First name: {{name}}</label>
                
            </div>
            <div class="labelInput">
                <label>Last name: {{lastName}}</label>
                
            </div>
            <div class="labelInput">
                <label>Email: </label>
                
            </div>
            
            <div>
                <input type="checkbox" id="admin" name="admin">
                <label for="admin">Admin</label>
            </div>
            <div>
                <input type="checkbox" id="manager" name="manager">
                <label for="manager">Manager</label>
            </div>
            <div>
                <input type="checkbox" id="billing" name="billing">
                <label for="billing">Billing</label>
            </div>
                                          
        </div>
        <div class="foot">
            <button >
                Back
            </button>
        </div>
    </div>

</div>