
<div class="container">
       
    <div class="tabContainer">
        <div class="head">
            <h1>{{pageTitle}}</h1> 
         </div>

        <div class="body">
            <div class="labelInput">
                <label>Email</label>
                <input class="input" type="text" placeholder="Email here...">   
            </div>
            <div class="labelInput">
                <label>New password</label>
                <input class="input" type="text" placeholder="New password here...">
            </div>
            <div class="labelInput">
                <label>Confirm password</label>
                <input class="input" type="text" placeholder="Confirm password here...">
            </div>
                                          
        </div>
        <div class="foot">
            <button >
                Reset password
            </button>
        </div>
    </div>

</div>