<div class="container">
    <h1>
    {{pageTitle}}
    </h1>
    <div class="tabContainer">
        <div class="tabSearch">
            <input type="text" placeholder="Search" [(ngModel)]="listFilter">
        </div>
        <div class="table">
            <div class="msg" *ngIf="!filtredEmployee.length">
                No matching employee found
            </div>
            <table *ngIf="filtredEmployee.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th >
                            <button (click)="toggleImages()">
                                {{showImages ? "Hide " : "Show "}}images
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of filtredEmployee">
                        <td>{{employee.name}}</td>
                        <td>{{employee.Role}}</td>
                        <td>{{employee.Email}}</td>
                        <td>{{employee.Status}}</td>
                        <td *ngIf="showImages"><img [src]='employee.imageUrl' height="30px" width="30px"></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</div>