<div class="container">
    <h1>
    {{pageTitle}}
    </h1>    
    <div class="tabContainer">
        <div class="tabSearch">
            <input type="text" placeholder="Search" [(ngModel)]="listFilter">
            <label >Role: {{isAdmin ? "Admin" : " "}} {{isManager ? " Manager" : " "}} {{isBilling ? " Billing" : " "}}

            </label>
        </div>

        <div class="table">
            <div class="msg" *ngIf="!filtredEmployee.length || !filtredEmployee">
                No matching employee found
            </div>
            
            <table *ngIf="filtredEmployee.length">
                <thead>
                    <tr>
                        <th >
                            <button (click)="toggleImages()">
                                {{showImages ? "Hide " : "Show "}}images
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of filtredEmployee">
                        <td *ngIf="showImages" >
                            <img [src]='employee.imageUrl' height="30px" width="30px">
                        </td>
                        <td *ngIf="!showImages" >
                            <span width="60px"></span>
                        </td>
                        <td>
                            <a [routerLink]="['/employees',employee.id]"
                               [queryParams]="{filteredBy: listFilter, showImage:showImages}"> 
                                {{employee.name}}
                            </a>
                        </td>                    
                        <td>
                            <app-role [isAdmin]="employee.isAdmin" (changAdmin)="isAdminChange($event)"
                                        [isManager]="employee.isManager" (changeManager)="isManagerChange($event)"
                                        [isBilling]="employee.isBilling" (changeBilling)="isBillingChange($event)"></app-role>
                        </td>
                        <td>{{employee.Email}}</td>
                        <td>{{employee.Status}}</td>
                        
                        <td>
                            <button [routerLink]="['/employees',employee.id,'edit']"
                                    [queryParams]="{filteredBy: listFilter, showImage:showImages}">
                                Edit
                            </button>
                        </td>
                    </tr>
                </tbody>                
            </table>
        </div>
    </div>
</div>