
<div class="container">
       
    <div class="tabContainer">
        <div class="head">
            <h1>{{pageTitle}}</h1> 
         </div>

        <div class="body">
            <div class="labelInput">
                <label>First name</label>
                <input class="input" type="text" placeholder="First name here...">
            </div>
            <div class="labelInput">
                <label>Last name</label>
                <input class="input" type="text" placeholder="Last name here...">
            </div>
            <div class="labelInput">
                <label>Email</label>
                <input class="input" type="text" placeholder="Email here...">   
            </div>
            
            <div>
                <input type="checkbox" id="admin" name="admin">
                <label for="admin">Admin</label>
            </div>
            <div>
                <input type="checkbox" id="manager" name="manager">
                <label for="manager">Manager</label>
            </div>
            <div>
                <input type="checkbox" id="billing" name="billing">
                <label for="billing">Billing</label>
            </div>
                                          
        </div>
        <div class="foot">
            <button >
                Send invitation
            </button>
        </div>
    </div>

</div>