<div class="container">
    <h1>
    {{pageTitle}}
    </h1>    
    <div class="tabContainer">
        <div class="head">
            Hello evrybody and welcome to my Angular web application
        </div>

        <div class="body">
            To create this web application i used basic Angular technics <br>
            *  Component <br>
            *  Directive <br>
            *  Databinding (Interpolation, proprety binding, event binding and two way bining or "banana in the box") <br>
            *  Nesting component <br> 
            *  Services and dependency injection <br>
            *  Navigatuin and routing <br>

        </div>
    </div>
</div>