<nav>
    <div class="links">
        <a href="">
            <span>
                HOME
            </span>
        </a>
        <div class="dropdown">
            <a class="dropbtn"href="">            
                <span>
                    USERS
                </span>
            </a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        <a href="">            
            <span>
                USERS
            </span>
        </a>
        <a href="">
            <span>
                ADD USERS
            </span>
        </a>
    </div>
    <div class="account">
        
    </div>
</nav>