@first-backgroundColor:#F2F2F2;
@second-backgroundColor: #FFFFFF;
@third-backgroundColor: #F9F9F9;

@fisrtBlack-color:#222222;
@secondBlack-color:#565656;
@thirdBlack-color:#000000;

@firstGreen-color:#37a000;
@secondGreen-color:#008329;

@shadow:0 1px 6px rgba(57,73,76,.35);


nav{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: @second-backgroundColor;   
    box-shadow: @shadow; 
}

.leftNav{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 25%;
}

.dropLink{
    height: 100%;
    display:flex;
    color: @secondBlack-color;
}
.dropLink:hover{
    color: @secondGreen-color;
}
span{
    padding: 9px;
    align-self:  center;    
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color:@second-backgroundColor;
  min-width: 160px;
  box-shadow: @shadow;
  z-index: 1;
}


  
.dropdown {
    position: relative;
    display: inline-block;
  }
  

  
.dropdown-content a {
    color: @fisrtBlack-color;
    padding: 12px 16px;
    display: block;
  }
  
.dropdown-content a:hover {
  background-color:@third-backgroundColor;
  color: @firstGreen-color;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.rightNav{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  margin-right: 25%;
  .dropLink{
    display: flex;
    flex-direction: row-reverse;
  }
  .employeedropdownContent{
    display: block;
    right: 1;
    background-color:@second-backgroundColor;
    min-width: 160px;
    box-shadow: @shadow;
    a{
      color: @fisrtBlack-color;
      padding: 12px 16px;
      display: block;
    }
    a:hover {
      background-color:@third-backgroundColor;
      color: @firstGreen-color;
    }
    .dropdownEmployee{
      display: flex;
      i{
        margin-right: 20px;
        padding-top: 7px;
      }  
    }
  }
  
  
}