<nav>
    <div class="leftNav">
        <a class="dropLink" [routerLink]="['welcome']">
            <span>
                HOME
            </span>
        </a>
        <div class="dropdown">
            <a class="dropLink" href="">
                <span>
                    USERS
                </span>
            </a>
            <div class="dropdown-content">
              <a [routerLink]="['employees']">Employee list</a>
              <a [routerLink]="['add-employee']">Add employee</a>
              <a [routerLink]="['login']">Login</a>
            </div>
        </div>
        <a class="dropLink" [routerLink]="['add-employee']">
            <span>
                ADD USERS
            </span>
        </a>
    </div>

    <div class="rightNav">
        <div class="employeeMenu">
            <a class="dropLink" (click)="toggleEmployeeMenu()">
                <span>
                    <i class="material-icons">person</i>
                </span>
            </a>
            <div class="employeedropdownContent" *ngIf="employeeMenu">
                <a href="#">image, Name, position</a>
                <a href="#">
                    <div class="dropdownEmployee">
                        <i class="material-icons">settings</i>
                        <span> Settings</span>
                    </div>
                </a>
                <a href="#">
                    <div class="dropdownEmployee">
                        <i class="material-icons">directions_run</i>
                        <span> Log out</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
